<!-- Age progression -->
<img class="age" src="/assets/images/{{ page.character }}-book1.webp" alt="{{ page.character }} Book 1">
<img class="age" src="/assets/images/{{ page.character }}-book2.webp" alt="{{ page.character }} Book 2">
<img class="age" src="/assets/images/{{ page.character }}-book3.webp" alt="{{ page.character }} Book 3">
<img class="age" src="/assets/images/{{ page.character }}-book4.webp" alt="{{ page.character }} Book 4">
<img class="age" src="/assets/images/{{ page.character }}-book5.webp" alt="{{ page.character }} Book 5">

<!-- Identity anchors -->
<div class="anchors">
  <div>Hair Styles</div>
  <div>Color Swatches</div>
  <div>Outfit Silhouettes</div>
</div>

<!-- Context & symbols -->
<div class="context">
  <div>Props: Glockenspiel, Insignia</div>
  <div>Scene: Carisco dwelling, Listener Corps lab</div>
  <div>Expressions: Neutral, Happy, Angry, Afraid, Determined</div>
</div>
