<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

  <!--  LINK YOUR CSS HERE (adjust path if needed) -->
  <link rel="stylesheet" href="{{ '/wikistyle.css' | relative_url }}">
  <link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">
  <!-- Optional: Favicon, meta tags, etc. -->

{% if page.isArchive != nil %}
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap"
  rel="stylesheet">
<style>
  .page-content {
    font-family: "Lora", serif !important;
  }
</style>
{% endif %}


</head>

<body>

  {% include top-banner.html %}

   <main class="page-content">
    {{ content }}
  </main>


  <footer>
    {% include footer.html %}
  </footer>

</body>

</html>